body {
  overflow: hidden;
  scrollbar-width: 0px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  overflow: scroll;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  font-family: monospace;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  background-color: transparent;
}

.navbar a:hover {
  color: #3498db;
}

.intro-section {
  text-align: center;
  margin-top: 20px;
}

.intro-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1.2em;
  color: #dddddd;
}
